/*	14.	Footer
-------------------------------------------------------------------*/

#footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #e0e0e6;
	font-size: 14px;
	line-height: 22px;
	ul li {
		padding: 3px 0;
		font-size: 15px;
	}
	a {
		color: #777;
	}
}
#footer .list-title {
	font-weight: 600;
	line-height: 2.5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	margin-bottom: 10px;
}
#footer .footer-credits {
	margin-top: 1rem;
	padding-top: 2.5rem;
	border-top: 1px solid;
	font-size: 13px;
	border-top-color: rgba(0,0,0,0.15);
}
#footer .subscribe-input, #footer .subscribe-button {
	border: none;
	box-shadow: none;
	background-color: rgba(0,0,0,0.05);
}
#footer .footer-payments {
	margin-top:1rem;
    font-size: 28px;
}
#footer .footer-social {
    margin-top: 1rem;
}
#footer .footer-social a {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}