$primary_color: #FF7400;
a, a:hover, a:active, a:focus, .item-actions a {
	color:#555;
}
#menu {
	background-color:#f5f5f5;
	box-shadow:none;
	border-bottom:1px solid #eee;
	&.home {
		background-color:#fff;
	}
	&.absolute-top, &.navbar-over.absolute-top {
		border-bottom:none;
	}
	&.fixed-top, &.navbar-over.fixed-top {
		background-color:#f5f5f5;
	}
	&.absolute-top .nav-item .nav-link {
		color:#FFF;
	}
	.navbar-toggler {
		background-color:$primary_color;
	}
	.nav-item .nav-link {
		color:#666;
	}
	.nav-item:hover .nav-link {
		background-color:$primary_color;
		color:#fff;
	}
	.icon-uilove {
		color:$primary_color;
	}
	.nav-btn > span {
		color: $primary_color;
		border: 1px solid $primary_color;
	}
	.nav-item:hover .nav-btn > span {
		background-color:$primary_color;
		color:#FFF;
	}
}
#footer .icon-uilove {
	color: $primary_color;
}
.search-form .card {
	background:none;
	border:none;
	border-bottom:1px solid #eee;
}
.btn-primary, .btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
	background-color: $primary_color;
    border-color: $primary_color;
    color: #fff !important;
}
.btn-inverse, .btn-inverse:focus, .btn-inverse:hover, .btn-inverse:active, .btn-inverse:active:hover, .btn-inverse:active:focus {
	background-color: #f9f9f9;
    border-color: #f9f9f9;
    color: $primary_color;
}
.nav-tabs>li>.nav-link.active, .nav-tabs>li>.nav-link.active:focus, .nav-tabs>li>.nav-link.active:hover {
    color: $primary_color;
}
.nav-tabs.tab-lg>li>a.nav-link.active {
	border-top-color:$primary_color;
	font-weight:bold;
}
.item-listing .item .item-badges .item-badge-left {
	background-color:rgba(74,74,76,0.7);
	font-weight:bold;
}
.pricing-column.popular ul li.title {
	background-color:$primary_color;
	font-weight:bold;
}
.feature-box .content-box .icon {
	color:$primary_color;
}
.feature-box .content-box .icon.circle {
	background-color:$primary_color;
	color:#fff;
}